* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  font-size: 14px;
  font-family: Roboto,sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.5px;
}

.mainWarapper {
  max-width: 960px;
  max-height: 600px;
  overflow: hidden;
  margin:  0 auto;
}